<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        severity="success"
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        (onClick)="deleteSelectedProducts()"
        [disabled]="!selectedProducts || !selectedProducts.length"
      />
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept=".xlsx,.xls"
        [maxFileSize]="10000000"
        label="Import"
        chooseLabel="Import"
        class="mr-2 inline-block"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="onImportProducts($event)"
      />
      <p-button
        severity="help"
        label="Export"
        icon="pi pi-upload"
        (onClick)="exportProducts()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    [lazy]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [totalRecords]="totalRecords"
    (onLazyLoad)="onPageChange($event)"
    [first]="first"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Products</h5>
        <!-- Search -->
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            #search
            pInputText
            type="text"
            placeholder="Search..."
            (input)="onSearch(search.value)"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="productName" style="min-width: 15rem">
          productName <p-sortIcon field="productName" />
        </th>
        <th>Image</th>
        <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
        <th pSortableColumn="categoryName" style="min-width: 10rem">
          Category <p-sortIcon field="categoryName" />
        </th>
        <th pSortableColumn="brandName">
          Brands <p-sortIcon field="brandName" />
        </th>
        <th pSortableColumn="type" style="min-width: 10rem">
          Status <p-sortIcon field="type" />
        </th>
        <th></th>
      </tr>
    </ng-template>
    <!-- Table Body -->
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product" />
        </td>
        <td>
          {{ product.productName }}
        </td>
        <td>
          <img
            [src]="product.mainImage"
            [alt]="product.name"
            width="50"
            class="shadow-4"
          />
        </td>
        <td>
          {{ product.price | currency: "USD" }}
        </td>
        <td>
          {{ product.categoryName }}
        </td>
        <td>
          {{ product.brandName }}
        </td>
        <td>
          <p-tag
            [value]="product.type"
            [severity]="getSeverity(product.type)"
          />
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editProduct(product.id)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteProduct(product)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ totalRecords }} products.
      </div>
    </ng-template>
  </p-table>

  <!-- Edit Product [Product by id] -->
  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '780px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid"
    (onHide)="hideDialog()"
  >
    <ng-template pTemplate="content">
      <!-- Main Image -->
      <div class="fluid text-center">
        @if (imagePreview || product.mainImage) {
          <img
            [src]="imagePreview || product.mainImage"
            [alt]="product.productName"
            class="block m-auto pb-3 border-round"
            width="200"
          />
        } @else {
          <p>No Image To preview</p>
        }

        <input
          type="file"
          #fileInput
          hidden
          accept="image/*"
          (change)="OnImageSelected($event)"
        />
        <p-button
          label="Upload Image"
          icon="pi pi-upload"
          (onClick)="fileInput.click()"
        ></p-button>
      </div>

      <!-- show subImages -->
      <div class="fluid text-center my-5">
        <div class="flex flex-wrap justify-content-center gap-3 mb-3">
          <div
            *ngFor="let image of subImagesPreview; let i = index"
            class="relative"
          >
            <img
              [src]="image"
              class="border-round cursor-pointer"
              width="170"
              height="170"
              (click)="onReplaceImage(i)"
            />

            <!-- Delete sub image -->
            <p-button
              icon="pi pi-times"
              styleClass="absolute top-0 right-0 bg-red-500 text-white border-circle cursor-pointer"
              [rounded]="true"
              severity="danger"
              (onClick)="deleteSubImage(i)"
            />
          </div>
        </div>

        @if (subImagesPreview.length < 3) {
          <input
            type="file"
            accept="image/*"
            #subImagesInput
            hidden
            (change)="OnSubImagesSelected($event)"
          />
          <p-button
            [label]="
              subImagesPreview.length === 0
                ? 'Upload Images'
                : 'Upload More Images'
            "
            icon="pi pi-upload"
            (onClick)="subImagesInput.click()"
          ></p-button>
        }
      </div>

      <!-- Product Name -->
      <div class="field mt-5">
        <label for="productName">Name</label>
        <input
          type="text"
          pInputText
          id="productName"
          [(ngModel)]="product.productName"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !product.productName">
          Name is required.
        </small>
      </div>

      <!-- Description -->
      <div class="field">
        <label for="description">Description</label>
        <textarea
          id="description"
          pInputTextarea
          [(ngModel)]="product.description"
          required
          rows="3"
          cols="20"
        >
        </textarea>
        <small class="p-error" *ngIf="submitted && !product.description">
          Name is required.
        </small>
      </div>

      <!-- Category Selected -->
      <div class="field">
        <label for="category" class="mb-3 text-capitalize"
          >select Category</label
        >
        <p-dropdown
          [options]="categories"
          [(ngModel)]="categorySelectedId"
          optionValue="id"
          [checkmark]="true"
          optionLabel="categoryName"
          [showClear]="true"
          placeholder="Select a category"
          styleClass="w-full"
          appendTo="body"
        />
        <small
          class="p-error text-capitalize"
          *ngIf="submitted && !categorySelectedId"
        >
          category is required.
        </small>
      </div>

      <!-- Brand Selected -->
      <div class="field">
        <label for="brand" class="mb-3 text-capitalize">select brand</label>
        <p-dropdown
          id="brand"
          [options]="brands"
          optionLabel="brandName"
          optionValue="id"
          placeholder="Select a brand"
          [(ngModel)]="brandSelectedId"
          styleClass="w-full text-capitalize"
          [showClear]="true"
          appendTo="body"
        ></p-dropdown>
        <small
          class="p-error text-capitalize"
          *ngIf="submitted && !brandSelectedId"
        >
          brand is required.
        </small>
      </div>

      <!-- price and stock -->
      <div class="formgrid grid">
        <div class="field col">
          <label for="price">Price</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.price"
            mode="currency"
            currency="USD"
            locale="en-US"
          />
        </div>
        <div class="field col">
          <label for="quantity">Quantity</label>
          <p-inputNumber id="quantity" [(ngModel)]="product.stock" />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideDialog()"
      />
      <p-button
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveProduct()"
      />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
