<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="grid w-8">
    <div class="col-12 md:col-4 flex justify-content-center align-items-center">
      <app-logo />
    </div>

    <div class="col-12 md:col-8 login-form p-4 border-round-2xl">
      <h1 class="text-center">Reset Password</h1>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="card flex flex-column gap-2 ms-3">
          <!-- Password -->
          <div
            class="card flex justify-content-center align-items-center gap-2"
          >
            <label for="password">Password</label>
            <p-password
              formControlName="password"
              [toggleMask]="true"
              class="password-field"
            />
          </div>
          <app-validation-message
            [control]="resetPasswordForm.get('password')!"
            [messages]="{ required: 'Password Is required' }"
          />

          <!-- Password -->
          <div
            class="card flex justify-content-center align-items-center gap-2"
          >
            <label for="password">Confirm Password</label>
            <p-password formControlName="confirmPassword" [toggleMask]="true" />
          </div>

          <app-validation-message
            [control]="resetPasswordForm.get('confirmPassword')!"
            [messages]="{
              required: 'Password not match with confirm password',
            }"
          />
          <div class="card flex justify-content-center">
            <button
              pButton
              pRipple
              label="Reset Password"
              type="submit"
              icon="pi pi-user"
              class="login-button"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
