<div class="card">
  <h1>{{ onPageName }}</h1>
  <p-table
    [value]="allData"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="onExpandedRows"
    (onRowExpand)="onRowExpand.emit($event)"
    (onRowCollapse)="onRowCollapse.emit($event)"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-wrap justify-content-end gap-2">
        <p-button
          [label]="'INVOICE_REPORTS_SHOW.EXPAND_ALL' | translate"
          icon="pi pi-plus"
          text
          (onClick)="onExpandAll.emit()"
        />
        <p-button
          [label]="'INVOICE_REPORTS_SHOW.COLLAPSE_ALL' | translate"
          icon="pi pi-minus"
          text
          (onClick)="onCollapseAll.emit()"
        />
        <p-fileUpload
          mode="basic"
          accept=".xlsx,.xls"
          [maxFileSize]="10000000"
          [chooseLabel]="'INVOICE_REPORTS_SHOW.IMPORT' | translate"
          class="mr-2 inline-block"
          [auto]="true"
          [customUpload]="true"
          (uploadHandler)="onImportHandler.emit($event)"
        />
        <p-button
          severity="help"
          [label]="'INVOICE_REPORTS_SHOW.EXPORT' | translate"
          icon="pi pi-upload"
          (onClick)="onExportHandler.emit()"
        />
      </div>
    </ng-template>
    <!-- Report Headers -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="id">
          {{ "INVOICE_REPORTS_SHOW.REPORT_NUMBER" | translate }}
          <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="companyName">
          {{ "INVOICE_REPORTS_SHOW.REPORT_NAME" | translate }}
          <p-sortIcon field="companyName" />
        </th>
        <th pSortableColumn="userName">
          {{ "INVOICE_REPORTS_SHOW.ADMIN_NAME" | translate }}
          <p-sortIcon field="userName" />
        </th>
        <th pSortableColumn="totalReportTransactionPrice">
          {{ "INVOICE_REPORTS_SHOW.TOTAL_REPORT_PRICE" | translate }}
          <p-sortIcon field="totalReportTransactionPrice" />
        </th>
        <th pSortableColumn="createdAt">
          {{ "INVOICE_REPORTS_SHOW.CREATED_AT" | translate }}
          <p-sortIcon field="createdAt" />
        </th>
        <th>{{ "INVOICE_REPORTS_SHOW.PRINT" | translate }}</th>
        <th>{{ "INVOICE_REPORTS_SHOW.DELETE" | translate }}</th>
      </tr>
    </ng-template>
    <!-- Report Body -->
    <ng-template pTemplate="body" let-report let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="report"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ report.id }}</td>
        <td>{{ report.companyName }}</td>
        <td>{{ getReportUserName(report) }}</td>
        <td>{{ getReportGrandTotal(report) | currency: "USD" }}</td>
        <td>{{ report.createdAt | date: "short" }}</td>
        <td>
          <!-- Print Report -->
          <p-button
            type="button"
            pRipple
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="'pi pi-print'"
            [severity]="'success'"
            (onClick)="onPrint.emit(report.id)"
          />
        </td>
        <td>
          <!-- Delete Report -->
          <p-button
            type="button"
            pRipple
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="'pi pi-trash'"
            [severity]="'danger'"
            (onClick)="onDelete.emit(report.id)"
          />
        </td>
      </tr>
    </ng-template>

    <!-- Report Items Headers -->
    <ng-template pTemplate="rowexpansion" let-report>
      <tr>
        <td colspan="9">
          <div class="p-3">
            <p-table [value]="report.items" dataKey="productId">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">
                    {{ "INVOICE_REPORTS_SHOW.PRODUCT_ID" | translate }}
                    <p-sortIcon field="price" />
                  </th>
                  <th pSortableColumn="productName">
                    {{ "INVOICE_REPORTS_SHOW.PRODUCT_NAME" | translate }}
                    <p-sortIcon field="productName" />
                  </th>
                  <th pSortableColumn="quantity">
                    {{ "INVOICE_REPORTS_SHOW.QUANTITY" | translate }}
                    <p-sortIcon field="quantity" />
                  </th>
                  <th pSortableColumn="price">
                    {{ "INVOICE_REPORTS_SHOW.PRICE" | translate
                    }}<p-sortIcon field="price" />
                  </th>
                  <th pSortableColumn="totalPrice">
                    {{ "INVOICE_REPORTS_SHOW.TOTAL_PRICE" | translate }}
                    <p-sortIcon field="totalPrice" />
                  </th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <!-- Report Items Body -->
              <ng-template pTemplate="body" let-reportItem>
                <tr>
                  <td>{{ reportItem.productId }}</td>
                  <td>{{ reportItem.productName }}</td>
                  <td>{{ reportItem.quantity }}</td>
                  <td>{{ reportItem.price | currency: "USD" }}</td>
                  <td>{{ reportItem.totalPrice | currency: "USD" }}</td>
                  <td><p-button type="button" icon="pi pi-search" /></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">
                    {{
                      "INVOICE_REPORTS_SHOW.NO_PRODUCTS_FOR_REPORT" | translate
                    }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog />
</div>
