<div class="container set-password border-round-xl p-5 my-3">
  <h1>Create New Admin Account</h1>
  <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
    <div class="formgrid grid justify-content-center">
      <!-- Password -->
      <div class="field col-12">
        <label class="block">Password</label>
        <p-password formControlName="password" [toggleMask]="true" />
        <app-validation-message
          [control]="setPasswordForm.get('password')!"
          [messages]="{
            required: 'Password is required',
          }"
        />
      </div>
      <!-- Confirm Password -->
      <div class="field col-12">
        <label class="block">Confirm Password</label>
        <p-password formControlName="confirmPassword" [toggleMask]="true" />
        <app-validation-message
          [control]="setPasswordForm.get('confirmPassword')!"
          [messages]="{
            required: 'Confirm Password is required',
            notSame: 'Password not match with confirm password',
          }"
        />
      </div>
      <div class="flex justify-content-center align-items-center m-auto">
        <p-button type="submit" label="Create New Account" class="my-4" />
      </div>
    </div>
  </form>
</div>
