<app-show-details
  [config]="{
    type: 'category',
    fieldName: 'categoryName',
    imageFieldName: 'image',
    descriptionFieldName: 'description',
  }"
  [title]="title"
  [data]="category"
  [allData]="categories"
  [imagePreview]="imagePreview"
  [submitted]="submitted"
  [selectedData]="selectedCategory"
  (openNew)="openNew()"
  (hideDialog)="hideDialog()"
  (editData)="editCategory($event)"
  (deleteData)="deleteCategory($event)"
  (onImageSelected)="onImageSelected($event)"
  (saveData)="saveCategory()"
  [dataDialog]="categoryDialog"
></app-show-details>
