.login-form {
  color: var(--primary-color-text);
  background-color: #fff;
}
.login-button {
  background: var(--button-color) !important;
  border-radius: 20px !important;
  width: 12rem;
}
