<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="grid w-8">
    <div class="col-12 md:col-4 flex justify-content-center align-items-center">
      <app-logo />
    </div>

    <div class="col-12 md:col-8 login-form p-4 border-round-2xl">
      <h1 class="text-center">Forget Password</h1>

      <!-- Email & UserName -->
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
        <div class="card flex flex-column gap-5 ms-3">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-envelope"></i>
            </p-inputGroupAddon>
            <input
              formControlName="emailOrUserName"
              [autofocus]="true"
              pInputText
              placeholder="Email / UserName"
              [style]="'w-100'"
            />
          </p-inputGroup>
          <app-validation-message
            [control]="forgetPasswordForm.get('emailOrUserName')!"
            [messages]="{ required: 'Username / Email is required' }"
          />
          <div class="card flex justify-content-center">
            <button
              pButton
              pRipple
              label="Send Email"
              type="submit"
              icon="pi pi-user"
              class="login-button"
            ></button>
          </div>
          <a [routerLink]="['/login']" class="text-center">Log In</a>
        </div>
      </form>
    </div>
  </div>
</div>
