<div class="container p-5">
  <!-- Card -->
  <div class="grid">
    @for (item of items; track $index) {
      <div class="col-12 sm:col-6 md:col-3">
        <p-card [header]="item.label">
          <p class="m-0">PageViews</p>
        </p-card>
      </div>
    }

    <div class="col-12 md:col-8">
      <!-- Charts -->
      <div class="card h-full border-1">
        <h2>{{ charts[0].title }}</h2>

        <p-chart
          [type]="charts[0].type"
          [data]="charts[0].data"
          [options]="charts[0].options"
        />
      </div>
    </div>
    <!-- right charts -->
    <div class="col-12 md:col-4 flex flex-column gap-3">
      @for (chart of charts.slice(1); track chart) {
        <div class="card h-6">
          <h3>{{ chart.title }}</h3>

          <p-chart
            [type]="chart.type"
            [data]="chart.data"
            [options]="chart.options"
          >
          </p-chart>
        </div>
      }
    </div>
  </div>
</div>
